.portfolio_layout {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: wrap;
	perspective: 1500px;

	& a:focus {
		transform: scale(1.2);
	}
}

.portfolio_card {
	//background: $color4;
	border: 10px solid $color2;
	border-radius: $radius;
	width: 20vw;
	height: 20vw;
	margin-bottom: 2rem;
	position: relative;
	transition: border-radius 0.5s ease-in-out, border-color 0.5s ease-in-out,
		filter 0.5s ease-in-out;
	filter: grayscale(100);

	&:hover {
		border-color: $color;
		border-radius: 10px;
		filter: none;

		& .project_technologies {
			color: $color;
		}
	}
	//transform-style: preserve-3d;
	//transition: all 1s ease-in-out;

	@include breakpoint-down(large) {
		width: 30vw;
		height: 30vw;
	}

	@include breakpoint-down(medium) {
		width: 30vw;
		height: 30vw;
	}

	@include breakpoint-down(small) {
		width: 40vw;
		height: 40vw;
	}

	@include breakpoint-down(xs) {
		width: 80vw;
		height: 80vw;
	}

	& .portfolio_card--back {
		z-index: 10;
		position: absolute;
		bottom: 0;
		background-color: $color4;
		right: 0;
		height: 100%;
		width: 60%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-evenly;
		padding-left: 0.5rem;
	}

	// & .portfolio_card--front,
	// .portfolio_card--back {
	// 	height: 100%;
	// 	width: 100%;
	// 	display: flex;
	// 	flex-direction: column;
	// 	position: absolute;
	// 	z-index: 10;
	// }

	// &:hover {
	// 	transform: rotateY(180deg);
	// 	//border: $border2;
	// 	& .portfolio_card--back {
	// 		z-index: 11;
	// 	}

	// 	& .portfolio_card--front {
	// 		z-index: 8;
	// 	}
	// }

	// & .portfolio_card--front {
	// 	backface-visibility: hidden;
	// }

	// & .portfolio_card--back {
	// 	background-color: $color4;
	// 	transform: rotateY(180deg);
	// 	color: $bgrColor;
	// 	justify-content: space-evenly;
	// 	align-items: stretch;
	// 	backface-visibility: hidden;
	// }

	& .project_title {
		//padding: 0.5rem 1rem;
		//text-align: center;
		color: $bgrColor;
		font-size: 1rem;
	}

	& img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	& p {
		font-size: 0.8rem;
		//padding: 1rem;
		white-space: pre-line;
		color: $bgrColor;

		& a {
			font-weight: 500;
			color: $color2;
		}
	}

	& .project_technologies {
		//padding: 1rem;
		color: $color2;
		font-size: 0.8rem;
	}

	& .portfolio_card--icons {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: stretch;

		& a {
			& .MuiSvgIcon-root,
			i {
				transform: scale(1.8);
				padding: 5px;
				border-radius: 50%;
				color: $color;
				transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

				&:hover {
					background-color: $color3;
					color: $bgrColor;
				}
			}
		}
	}
}
