.flex {
	width: 100%;
	margin: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.portfolio_layout {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: wrap;

	& a:focus {
		transform: scale(1.2);
	}
}

.portfolio_card {
	width: 15vw;
	min-width: 250px;
	aspect-ratio: 1/1.2;
	margin-bottom: 2rem;
	overflow: hidden;
	border-radius: $radius;

	// @include breakpoint-down(large) {
	// 	width: 20vw;
	// 	height: 25vw;
	// }

	// @include breakpoint-down(medium) {
	// 	width: 30vw;
	// 	height: calc(30vw * 1.2);
	// }

	// @include breakpoint-down(small) {
	// 	width: 40vw;
	// 	height: calc(40vw * 1.1);
	// }

	// @include breakpoint-down(xs) {
	// 	width: 80vw;
	// 	height: calc(80vw * 1.1);
	// }

	&:hover {
		& .portfolio_card--content {
			transform: rotateY(0.5turn);
		}

		& .project_technologies {
			color: $color;
		}
	}

	.portfolio_card--content {
		position: relative;
		padding: 1rem;
		transition: transform 3s ease-in-out;
		transform-style: preserve-3d;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border: 10px solid $bgrColor;
		border-radius: $radius;
	}

	& .portfolio_card--back,
	.portfolio_card--front {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		transform-style: preserve-3d;
		backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		width: 100%;
		height: 100%;
		border-radius: $radius;
	}

	& .project_title {
		position: absolute;
		top: 50%;
		left: 50%;
		color: $color;
		font-size: 1.8rem;
		text-shadow: 1px 2px 2px white, 0 0 15px rgba(0, 0, 0, 0.7);
		text-align: center;
		padding: auto;
		transform: translateZ(6rem) translate(-50%, -50%);
	}

	& img {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: 10% 100%;
		transform: translateZ(2rem);
		backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
	}

	& .portfolio_card--back {
		transform: rotateY(0.5turn);
		transform-style: preserve-3d;
		background: $color;

		&--content {
			width: 100%;
			height: 100%;
			padding: 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			background: $color4;
			justify-content: space-evenly;
			backface-visibility: hidden;
			transform: translateZ(3rem);
		}
	}

	& p {
		font-size: 0.8rem;
		//padding: 1rem;
		white-space: pre-line;
		color: $bgrColor;

		& a {
			font-weight: 500;
			color: $color2;
		}
	}

	& .project_technologies {
		//padding: 1rem;
		color: $color2;
		font-size: 0.8rem;
	}

	& .portfolio_card--icons {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: stretch;

		& a {
			& .MuiSvgIcon-root,
			i {
				transform: scale(1.8);
				padding: 5px;
				border-radius: 50%;
				color: $color;
				transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

				&:hover {
					background-color: $color3;
					color: $bgrColor;
				}
			}
		}
	}
}
